@property --n {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  .number {
    animation: animate var(--duration) forwards var(--timing, linear);
    counter-reset: num var(--n);
  }

  .number::before {
    content: counter(num);
  }

  @keyframes animate {
    from {
      --n: var(--from);
    }
    to {
      --n: var(--to);
    }
  }
