@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.button1 {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 4px;
    background: var(--Secondary, #007AFF);
    color: #fff;
    font-size: 16px;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.button1:hover {
    background: #0056b3;
    color: #fff;
    transform: scale(1.05);
}

a {
    text-decoration: none;
}


h2 {
    color: var(--Blue-08, var(--Primary, #00438C));

    /* Heading 2 */
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.84px;
}

h3 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.72px;
}

.sub-heading-medium {
    color: var(--Blue-09, var(--Button-hover, #00336B));

    /* Sub Heading Medium */
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 0.54px;
}


.sub-body-medium {
    color: var(--Blue-07, #0057B5);

    /* Sub Body Medium */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 0.42px;
}

.body-bold {
    color: #303030;

    /* Body Bold */
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 170%;
    letter-spacing: 0.48px;
}

.body-regular {
    color: var(--Monochrome-01, #000);

    /* Body Regular */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.48px;
}

.body-small {
    color: var(--Monochrome-01, #000);

    /* Body Small */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 20.4px */
    letter-spacing: 0.36px;
}


.lihat:hover {
    font-weight: bold;
}

/* Siaran Langsung */
#siaran-langsung .card {
    fill: var(--Monochrome-White, #F9F9F9);
    stroke-width: 1px;
    stroke: var(--Monochrome-04, rgba(0, 0, 0, 0.25));
}

.card .tag {
    width: 165px;
    height: 31px;
    padding: 18px 24px 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 20px;
    background: var(--Teritery, #D254E2);
    margin-top: 13px;
    margin-left: 10px;

    position: relative;
    overflow: hidden;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.card .tag:hover {
    background: #C12BDB;
    box-shadow: 0px 0px 10px 0px rgba(194, 43, 219, 0.75);
}

.card .tag .caption {
    color: var(--Monochrome-White, #F9F9F9);

    /* Caption */
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    margin-top: -10px;
    margin-left: -12px;
}

/* .icon-siaran-langsung{
    width: 65px;
    height: 65px;
} */

.komunitas-content .search-container {
    display: flex;
    width: 100%;
    padding: 19px 21px;
    background: var(--Blue-01, #B0D6FF);
}

.komunitas-content .search {
    width: 100%;
    margin-bottom: auto;
    height: 50px;
    background: var(--Blue-01, #B0D6FF);
    padding: 10px;
    border-radius: 5px;
    border-radius: var(--Button-corner-radius, 8px);
    border: 2px solid var(--Blue-06, #006FE8);
}

.komunitas-content .search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.komunitas-content .search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.komunitas-content .search-input::placeholder {
    color: var(--text-secondary, #4A5A67);
    font-size: 15px;
    font-weight: 300;
}

.komunitas-content .search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
}

.komunitas-content .search-icon:hover {
    color: #fff !important;
}

.komunitas-content .filter {
    margin-left: 32px;
    margin-top: 15px;
}

.list-group-item {
    border: none;
}

.list-group .caption {
    color: var(--Monochrome-01, #000);

    /* Caption */
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.36px;
}

.komunitas-content .col-md-7 {
    margin-left: -12px;
    height: 1100px;
    gap: var(--Container-padding, 0px);
    background: var(--Blue-00, #D7EAFF);
}

.card-welcome {
    width: 593px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Blue-01, #B0D6FF);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 100px;
    padding-top: 58px;
    padding-left: 53px;
    padding-right: 53px;
}

.card-welcome .title {
    color: var(--Primary, #00438C);
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.2px;
}

.card-welcome .sub-title {
    color: var(--Primary, #00438C);

    /* Sub Heading Regular */
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.54px;
}

.img-channel {
    width: 65px;
    height: 65px;
}

.img-list {
    width: 65px;
    height: 65px;
}


/* Komunitas-tab-informasi */
hr {
    margin-top: 0px;
    margin-bottom: 0px;
}


.header-komunitas {
    justify-content: center;
    align-items: center;
}

.header-profile-komunitas {
    width: 103.5%;
    margin-left: -15px;
    padding: 10px;
    height: 88px;
    background: var(--Blue-01, #B0D6FF);
    justify-content: center;
    align-items: center;
}

#TabProfile {
    width: 104.3%;
    display: flex;
    margin-left: -17px;
    justify-content: center;
}


.tab-profile {
    width: 49.3%;
    text-align: center;
}

.img-chat {
    width: 60px;
    height: 60px;
}

.icon-chat {
    width: 40px;
    height: 40px;
}

.btn-aktif {
    display: flex;
    width: 112px;
    height: 36px;
    padding: 6px 12px;
    justify-content: center;
    gap: var(--Button-gap, 8px);
    flex-shrink: 0;
    border-radius: var(--Button-corner-radius, 8px);
    background: var(--Button-normal, #007AFF);
    backdrop-filter: blur(10px);
    color: #fff;
}

.card-chat {
    background-color: var(--Monochrome-White, #F9F9F9);
    border: 1px solid var(--Secondary, #007AFF);
    border-radius: 20px;
}

.corner-non-radius {
    border-bottom-left-radius: 0;
}

.note-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.teks-pesan {
    display: flex;
    width: 92%;
    height: 60px;
    padding: 13px 28px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Monochrome-White, #F9F9F9);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.no-border {
    border: none;
    background: none;
}

.caption {
    color: var(--Monochrome-03, rgba(0, 0, 0, 0.50));
    /* Caption */
    font-family: Poppins;
    font-size: 10px;
}


@media screen and (max-width: 768px) {
    .button1 {
        padding: 9px 16px;
        font-size: 12px;
    }

    #siaran-langsung .card {
        margin-bottom: 15px;
    }

    .komunitas-content .search-container {
        width: auto;
    }

    .img-list {
        width: 42px;
        height: 42px;
    }

    .list-group .body-regular {
        font-size: 12px;
    }

    .card-welcome {
        width: auto;
        height: auto;
        margin-top: 100px;
        padding: 20px;
    }

    .card-welcome .title {
        font-size: 24px;
    }

    .card-welcome .sub-title {
        font-size: 16px;
    }

    .komunitas-content .col-md-7 {
        display: none;
        /* margin-left: 0;
        height: 400px;
        gap: var(--Container-padding, 0px);
        background: var(--Blue-00, #D7EAFF); */
    }
}



/* Catatan */
/* #catatan h2 {
    border-bottom: 2px solid var(--Blue-01, #B0D6FF);
    background: var(--Monochrome-White, #F9F9F9);
} */

#catatan .judul {
    border-bottom: 5px solid var(--Blue-09, #00336B);
}

#catatan .rekomendasi {
    width: 366px;
    height: 545px;
    flex-shrink: 0;
    border-radius: var(--Button-corner-radius, 8px);
    background: var(--Blue-00, #D7EAFF);
    margin-top: 5px;

    padding-top: 16px;
    padding-left: 13px;
}

#catatan .akun {
    width: 40px;
    height: 40px;
}

#catatan .btn-ikuti {
    display: flex;
    width: 88px;
    height: 28px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 8px;
    background: var(--Purple-02, #D254E2);
    color: #fff;
    margin-left: 24px;
    transition: background 0.3s ease, color 0.3s ease;
}

#catatan .btn-ikuti:hover {
    background: #C12BDB;
    color: #fff;
}

.body-semi-bold {
    color: var(--Blue-09, var(--Button-hover, #00336B));

    /* Body Semi Bold */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    /* 27.2px */
    letter-spacing: 0.48px;
}

.sub-heading-regular {
    color: var(--Monochrome-03, rgba(0, 0, 0, 0.50));

    /* Sub Heading Regular */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 30.6px */
    letter-spacing: 0.54px;
}

.sub-body-regular {
    color: #000;

    /* Sub Body Regular */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 23.8px */
    letter-spacing: 0.42px;
}

.caption {
    color: #000;

    /* Caption */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
    letter-spacing: 0.36px;
}

#catatan .tag {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Blue-00, #D7EAFF);
}

#catatan .catatan-card {
    border-bottom: 1px solid var(--Blue-01, #B0D6FF);
}

.policy {
    padding-right: 100px;
}

@media screen and (max-width: 768px) {
    #catatan .rekomendasi {
        width: 100%;
        height: 100%;
    }

    #catatan .sub-heading-medium {
        font-size: 14px;
    }

    #catatan .sub-heading-regular {
        font-size: 10px;
    }

    .tandai {
        width: 24px;
    }

    .more {
        width: 18px;
    }

    .policy {
        padding-right: 0;
    }

    .btn-ikuti {
        width: 80%;
        margin-right: 10px;
    }
}